.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 512px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 511px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 204px;
  height: 204px;
  background-image: url("images/686114424-0.jpeg");
  background-position: 50% 50%;
  margin: 82px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 29px 286px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 9px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 9px 861px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
  margin-top: 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 186px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 3px;
    margin-bottom: -37px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 721px;
    margin-bottom: 20px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 76px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 501px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 321px;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 121px;
    margin-left: 11px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 146px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  width: 541px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-text-2 {
  margin: 30px 152px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
}