.u-section-1 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 581px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 78px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 95px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 400;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 46px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/ffffff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 843px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  background-image: none;
  width: 527px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 235px 0;
}

.u-section-2 .u-image-1 {
  width: 549px;
  height: 526px;
  object-position: 43.75% 50%;
  margin: 45px auto 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 526px;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-template-rows: repeat(2, auto);
  width: 570px;
  grid-gap: 20px;
  margin: -526px 0 0 auto;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 30px 497px 60px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-2 .u-image-1 {
    width: 450px;
    object-position: 41.45% 50%;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 470px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin: 27px 397px 45px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    min-height: 503px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    margin: 45px 287px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 197px;
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 397px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    min-height: 684px;
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 97px;
    margin-right: 97px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 692px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 790px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-image-1 {
  height: 413px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 362px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-list-1 {
  width: 350px;
  min-height: 572px;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
  margin: -572px 0 60px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 154px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0 51px;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  margin-left: 51px;
  margin-right: 51px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 106px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0 51px;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  margin-left: 51px;
  margin-right: 51px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 590px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 162px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    height: auto;
    margin-top: -590px;
    margin-bottom: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-3 .u-list-1 {
    width: 710px;
    min-height: 257px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    margin: 20px auto 60px 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 152px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    grid-template-columns: 100%;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 24px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-bottom: 31px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 694px;
}

.u-section-4 .u-image-1 {
  width: 793px;
  height: 584px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 55px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 508px;
  min-height: 485px;
  margin: -526px auto 97px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 105px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 302px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-4 .u-image-1 {
    width: 692px;
    height: 577px;
  }

  .u-section-4 .u-group-1 {
    width: 419px;
    margin-top: -519px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 63px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 185px;
  }

  .u-section-4 .u-btn-2 {
    padding: 10px 52px 10px 51px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-4 .u-image-1 {
    height: 447px;
    margin-top: 360px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 325px;
    margin-top: -772px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: 475px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-image-1 {
    height: 393px;
    width: 600px;
    margin-top: 380px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -718px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-4 .u-image-1 {
    height: 299px;
    width: 416px;
    margin-top: 403px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -647px;
    margin-bottom: -191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: 134px;
    width: 320px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-5 .u-image-1 {
  width: 648px;
  min-height: 969px;
  background-image: url("images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  margin: 60px 116px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: -901px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 37px 625px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-list-1 {
  min-height: 399px;
  grid-template-columns: repeat(2, calc((100% - 1140px) / 2 + 554px));
  grid-template-rows: repeat(1, auto);
  width: 524px;
  grid-gap: 31px;
  margin: -358px 0 60px auto;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 534px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    width: 775px;
    height: 709px;
  }

  .u-section-5 .u-list-1 {
    min-height: 183px;
    grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 453px));
    height: auto;
    grid-gap: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-5 .u-image-1 {
    width: 632px;
    min-height: 950px;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-5 .u-image-2 {
    width: 664px;
    height: 664px;
    margin-top: -889px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 281px;
    margin-right: 348px;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 343px));
    margin-top: -607px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-5 .u-image-1 {
    min-height: 890px;
    width: 483px;
    margin-top: 51px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 478px;
    height: 478px;
    margin-top: -830px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 393px;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    min-height: 395px;
    grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 253px));
    width: 516px;
    margin-top: -557px;
    margin-bottom: 213px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-5 .u-image-1 {
    width: 309px;
    min-height: 652px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -616px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 813px;
  }

  .u-section-5 .u-list-1 {
    min-height: 823px;
    grid-template-columns: 100%;
    width: 300px;
    margin-top: -893px;
    margin-bottom: 130px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 475px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  background-image: none;
}

.u-section-6 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 212px;
  }
}