.u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 3rem;
  width: 627px;
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  width: 627px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  align-self: center;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 169px 497px 60px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 150px;
    margin-left: 397px;
    margin-right: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 74px;
    margin-left: 287px;
    margin-right: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 0% 27.06%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 197px;
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 0.67% 0%;
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 74px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 97px;
    margin-right: 97px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 866px;
}

.u-section-2 .u-text-1 {
  width: 678px;
  margin: 45px auto 0;
}

.u-section-2 .u-text-2 {
  width: 820px;
  font-size: 3.75rem;
  font-family: Oswald, sans-serif;
  line-height: 66px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  width: 678px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1009px;
  margin: 39px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 300px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 2px;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 300px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 2px;
  margin-bottom: 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 300px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 2px;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 300px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 300;
  margin: 0 0 0 1px;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  letter-spacing: 2px;
  margin: 20px auto 0 1px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 278px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-2 .u-text-2 {
    line-height: 1.2;
    font-size: 3rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 898px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 236px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 236px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-weight: 300;
  line-height: 25.6px;
  margin: 18px 0 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 243px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 243px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  font-weight: 300;
  line-height: 25.6px;
  margin: 18px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-3 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  font-weight: 300;
  line-height: 25.6px;
  margin: 12px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 725px;
  background-image: url("images/sddd-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 10px;
}

.u-section-3 .u-text-10 {
  width: 146px;
  margin: 45px auto 60px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 200px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 203px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 203px;
  }

  .u-section-3 .u-image-1 {
    min-height: 598px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 916px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 687px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-4 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-7 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 433px;
  }
}